@import "globals";
@import "vars";
@import "mixin";

#footer {
  height: auto;
  width: 100vw;
  background: map-get($map: $text-color, $key: color2);
  background-attachment: fixed;
  background-position: center;

  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .icons-container, .icons { 
        display:flex;
        justify-content: center;
        margin: 1 0 25rem;
        color: map-get($map: $text-color, $key: color1 )
        flex-flow:column wrap;
    }
    .icons-container{
        text-align: center;

        .icons {
            i {
                font-size: map-get($map:$font-size , $key: medium );
                margin: 2rem;
            }
        }
    }
    .info {
        i {
            @extend .icons-container.icons;
        }
    }
 }
 @include mobile {
    flex-direction: row;
 }
}
